* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}
header {
  z-index: 999;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: rgb(116, 116, 231);
  position: fixed;
  color: white;
  text-align: center;
  padding: 10px;
  flex-wrap: wrap;
}
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 15px;
}
nav ul li .w {
  text-decoration: none;
  text-transform: uppercase;
}
nav ul li .w:hover {
  color: red;
  font-weight: bolder;
  transform: scale(1.2);
}
main {
  padding: 10px 20px 60px;
}
.gioi-thieu {
  background-image: url("images/backgrond..png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 20px;
  margin-left: -20px;
  margin-right: -20px;
}
.gioi-thieu h1 {
  font-size: 45px;
  padding: 10px;
  color: white;
}
.gioi-thieu p {
  font-size: 20px;
  color: white;
}
.gioi-thieu .nut {
  margin: 20px;
  padding: 15px 25px;
  font-size: 25px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 10px;
  animation: heartbeat 1.2s infinite;
}
.gioi-thieu .nut:hover {
  transform: scale(1.2);
  color: red;
}
.thong-tin {
  padding: 20px;
  flex-wrap: wrap;
}
.thong-tin h3 {
  font-size: 30px;
  text-align: center;
}
.info-box {
  background-color: #f5f5f5;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  border: 2px dashed red;
}
.thong-tin1 {
  display: flex;
  justify-content: space-between;
  padding: 50px 200px 50px;
}

.thong-tin-box1 {
  background-color: rgb(89, 120, 147);
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  font-size: 30px;
  color: #ff6ec4;
  animation: heartbeat 4s infinite;
}
@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(0.9);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.thong-tin-box2 {
  background-color: rgb(89, 120, 147);
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  font-size: 30px;
  color: #ff6ec4;
  animation: heartbeat 4s infinite;
}
.thong-tin-box1:hover,
.thong-tin-box2:hover {
  color: red;
}
.dien-gia {
  padding: 60px 20px;
  text-align: center;
}
.dien-gia h3 {
  font-size: 30px;
}
.dien-giaa {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 30px;
}
.card {
  background-color: #e79999;
  border-radius: 12px;
  box-shadow: 0 4px 12px;
  max-width: 300px;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 24px rgba(255, 105, 180, 0.3);
}
.card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
}
.card h4 {
  margin: 10px 0 5px;
  font-weight: bold;
}

.card p {
  font-size: 14px;
  text-align: center;
  color: #333;
  font-size: 15px;
}
.highlight-name {
  font-size: 24px;
  color: #000;
}
.noi-dung-hoi-nghi {
  padding: 60px 20px;
}
.noi-dung-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: flex-start;
  gap: 100px;
}
.noi-dung-text {
  flex: 1 1 300px;
  max-width: 500px;
  padding: 0;
}
.noi-dung-text h2 {
  font-size: 32px;
  font-weight: bold;
  margin-top: 20px;
  padding: 30px;
}
.dien-gia-block {
  margin-bottom: 30px;
}
.dien-gia-block h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}
.dien-gia-block p {
  font-size: 15px;
  color: #555;
  margin-bottom: 8px;
}
.noi-dung-img {
  flex: 1 1 300px;
  max-width: 1000px;
}
.noi-dung-img img {
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
}
.lich-trinh {
  padding: 60px 20px;
  max-width: 800px;
  margin: auto;
}
.lich-trinh h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 20px;
}
.lich-trinh table {
  width: 100%;
  font-size: 17px;
}
.lich-trinh th {
  font-size: 25px;
}
.lich-trinh td {
  padding: 15px 10px;
  border-bottom: 1px solid #ccc;
  vertical-align: top;
}

.lich-trinh td:first-child {
  width: 30%;
  font-weight: bold;
  color: #333;
}

.lich-trinh td:last-child {
  width: 75%;
  color: #555;
}

.lich-trinh tr:hover {
  background-color: #7f7070;
  color: white;
  transition: background-color 0.3s ease;
}

@media (max-width: 600px) {
  .lich-trinh table,
  .lich-trinh tr,
  .lich-trinh td {
    display: block;
    width: 100%;
  }

  .lich-trinh td {
    border-bottom: none;
    padding: 10px 0;
  }

  .lich-trinh td:first-child {
    font-weight: bold;
    color: #000;
  }

  .lich-trinh tr {
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
  }
}

.ket-luan h3 {
  font-size: 30px;
  padding: 20px;
}
.ket-luan p {
  font-size: 19px;
  margin-bottom: 20px;
}
.lien-he h3 {
  font-size: 30px;
  padding: 20px;
}
.contact-form {
  max-width: 800px;
  margin: auto;
  background: #f1f7f8;
  padding: 30px;
  border-radius: 10px;
  font-family: sans-serif;
}
.row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}
.col {
  flex: 1 1 45%;
}

.full {
  flex-direction: column;
}
label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
textarea {
  min-height: 100px;
  resize: vertical;
}
.send-btn {
  background-color: #1abc9c;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}
.send-btn i {
  margin-right: 8px;
}
footer {
  background-color: #247fe8;
  font-size: 17px;
  top: 0;
  left: 0;
}
footer p {
  display: flex;
  justify-content: center;
  color: white;

  width: 100%;
}
.img-a {
  display: flex;
  justify-content: center;
  gap: 10px;
}
html {
  scroll-behavior: smooth;
}